.home {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.2);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.5);
  color: aliceblue;
}

.line-4 hr {
  margin-top: 50px;
  height: 1px;
  border: 0;
  background: rgb(240, 234, 234);
}

.download-button {
  margin-top: 20px;
  background-color: #ff5733;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
}

.download-button:hover {
  box-shadow: 0 0 15px #f5f7f9;
  transition: all 0.5s ease;
  color: #ffffff;
  text-shadow: 0 0 15px #ffffff;
  transition: all 0.5s ease;
}

.madeHome {
  margin-top: 5px;
  text-align: center;
  padding: 5px;
}

.madeHome i {
  margin: 8px;
  border: 5px solid #d8e2dc;
  padding: 10px;
  color: #ffffff;
  border-radius: 50%;
  transition: 0.5s;
}

.madeHome i:hover {
  border: 5px solid #ffffff;
  box-shadow: 0 0 15px #f5f7f9;
  transition: all 0.5s ease;
  color: #ffffff;
  text-shadow: 0 0 15px #ffffff;
  transition: all 0.5s ease;
  padding: 10px;
  border-radius: 50%;
  transition: 0.5s;
}
